<h1><%= @restaurant.name %></h1>
<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
  <li><% @restaurant.reviews.each do |r| %></li>
  <li> <%= r.content %></li>
  <li> <%= r.rating %></li>
  <li> <% end %></li>
</ul>
<%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>
</p>


